header{
      background: green;
    border: 1x solid blue;
    height: 150px;
    
}
header div{
    text-align: center;
    width: 100%;
}

nav{
    background: orange;
    border: 1px solid blue;
    height: 100px;
}
nav div{
    text-align: center;
    width: 100%;    
}
main{
    display: flex;
    background: #f2f6f8;
    background: -moz-linear-gradient(left, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #bdefff 100%);
    border-radius: 10px;
}
main div{
    background: #F4F2F8;
    width: 25%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 4px solid #000000;
}
main p{
    text-indent: 0.5cm;
}
.artcentral img{
    float: right;
}
footer{
    background: green;
    border: 1x solid blue;
    

}
footer div{
    width: 100%;
    height: 100px;
    text-align: center;
}
    