header{
    background: whitesmoke;
  border: 1x solid blue;
  height: 150px;
  
}
header div{
  text-align: center;
  width: 100%;
}

nav{
  background: orange;
  border: 1px solid blue;
  height: 100px;
}
nav div{
  text-align: center;
  width: 100%;    
}
.menuprincipal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}
a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
/* Cuerpo Principal*/
main{
  display: flex;
  background: white;

}
.columnaizquierda article{
  height: 50%;
}
.columnaizquierda article img{
  width: 100%;
}
.columnaizquierda{
    display: flex;
    flex-direction: column;
}
.columnaderecha article{
    height: 50%;
}
.columnaderecha article img{
    width: 100%;
}
.columnaderecha {
  display: flex;
  flex-direction: column;
}
main div{
  background: white;
  width: 25%;
  border: 4px solid #c5c0c0;
}
main p{
  text-indent: 0.5cm;
}
.artcentral img{
  float: right;
}
.columnaderecha{
    display: flex;
    flex-direction: column;
}
.columnaderecha img{
    width: 100%;
}
h4{
  text-align: center;
  color: red;
}
h3{
  text-align: center;
  color: red;
}
footer{
  background: whitesmoke;
  border: 1x solid blue;
  

}
footer div{
  width: 100%;
  height: 100px;
  text-align: center;
}
/*Estilos Responsive*/
@media only screen and (max-width: 600px) {
  .columnaizquierda {
    display: none;
  }
  .columnaderecha{
    display: none;
  }
  main p {
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  article img {
    width: 100vw;
  }
 }
 @media only screen and (max-width: 1030px) {
   main {
     width: 100vw;
   }
 }