body {
  margin: 0;
}

/* ---------------------------------------------------------Header----------------------------------------------------*/
header div{
  display: flex;
  flex-direction: row;
  margin: 0;
  background: whitesmoke;
}
header aside a img {
  width: 100%;

}

#logo{
  text-align: center;
  background:whitesmoke;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 33%;
}

#social {
  justify-content: center;
  align-items: center;
  width: 33%;
}

#social ul li{
  list-style: none;
  }
header #social  ul li:hover{
  transform:scale(1.4);
}
#cont_82e8c0e6a6dd33517097c3e97d996b43 {
  width: 175px;
  background: whitesmoke;
  position: absolute;
  right: 10px;
  }


/* ---------------------------------------------------Menu------------------------------------------------------------*/
nav{
  background: orange;
  border: 1px solid blue;
  height: 100px;
}
nav div{
  text-align: center;
  width: 100%;    
}
.menuprincipal {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

li a:hover {
  background-color: red;
}
a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* --------------------------------------Cuerpo Principal----------------------------------------------------*/
main{
  display: flex;
  background: white;
}
main a{
  color: black;
}
.columnaizquierda article{
  height: 50%;
}
.columnaizquierda article img{
  width: 100%;
}
.columnaizquierda{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}
.columnaderecha article{
    height: 50%;
}
.columnaderecha article img{
    width: 100%;
}
.columnaderecha {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}
main div{
  background: black;
  width: 25%;
  border: 1px solid #c5c0c0;
}
main p{
  text-indent: 0.5cm;
  text-indent: 0.5cm;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.artcentral img{
  float: right;
}
p {
  text-align: center;
  color: black;
}
.columnaderecha{
    display: flex;
    flex-direction: column;
}
.columnaderecha img{
    width: 100%;
}
h4{
  text-align: center;
  color: red;
}
h3{
  text-align: center;
  color: red;
  background: whitesmoke;
}
h5{
  text-align: center;
  color: black;
}

/*----------------------------------------------------Footer------------------------------------------------------*/
footer{
  background: #85929E;
}
footer div{
  width: 100%;
  
}
.listafooter{
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 5px;
}
.listafooter li{
  list-style: none;
}
.listafooter li a{
  display: block;
  color: black;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
}
.listafooter li a:hover {
  text-decoration-line: underline;
}
.copyright p{
  display: flex;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  margin: 5px;
}
/*--------------------------formularios------------------------------------------*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}


/*--------------------------------------------Estilos Responsive--------------------------------------------------*/
@media only screen and (max-width: 600px) {
  aside {
    display: none;
  }
  #logo {
    width: 100%;
  }
  #social {
    display: none;
  }
  #cont_82e8c0e6a6dd33517097c3e97d996b43 {
    display: none;
  }
  
  .columnaizquierda {
    display: none;
  }
  .columnaderecha{
    display: none;
  }
  main p {
    text-align: center;
    width: 90vw;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  article img {
    width: 100vw;
  }
  .copyright{
    display: none;
  }
 }
 @media only screen and (max-width: 1030px) {
   main {
     width: 100vw;
   }
   main .artcentral {
     display: flex;
     flex-direction: column;
   }
 }